// Header
.header {}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 0 20px;
  background-color: rgb(44, 132, 210);
  box-shadow: rgb(0 0 0 / 0%) 0px 1px 3px;

  @media (max-width: $breakpoint992) {
    position: static;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px 20px;
  }

  @media (max-width: $breakpoint480) {
    padding: 25px 0;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: $breakpoint992) {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: $breakpoint480) {
    grid-template-columns: repeat(2, 130px);
  }

  // .menu__item

  &__item {

    @media (max-width: $breakpoint992) {}
  }

  // .menu__item-link

  &__item-link {
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 20%;
      opacity: 0;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #ffffff;
      -webkit-box-shadow: inset 0px -1px 0px 0px #ffffff;
      -moz-box-shadow: inset 0px -1px 0px 0px #ffffff;
      box-shadow: inset 0px -1px 0px 0px #ffffff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    &:hover::after{
      opacity: 1;
      bottom: -1px;
    }

    @media (max-width: $breakpoint992) {
      width: 200px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #2c84d2;
      font-size: 19px;
      line-height: 1.55;
      border-width: 3px;
      border-radius: 10px;
      background-color: #ffffff;
      border-color: #2c84d2;
      border-style: solid;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;

      &::after {
        content: none;
      }

      &:hover {
        background-color: #2c84d2;
        background-image: none;
        border-color: #ffffff;
        color: #ffffff;
      }

      @media (max-width: $breakpoint480) {
        width: 130px;
        height: 48px;
        font-size: 15px;
      }
    }
  }
}

.logo {
  @media (max-width: $breakpoint992) {
    display: none;
  }

  // .logo__img

  &__img {
    max-width: 170px;
    width: 170px;
    height: auto;
  }
}

.nav {

  // .nav__info

  &__info {
    display: none;

    @media (max-width: $breakpoint992) {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .nav__info-img

  &__info-img {
    max-width: 270px;
    width: 100%;
    height: auto;

    @media (max-width: $breakpoint768) {
      max-width: 340px;
      order: 1;
    }
  }

  // .nav__info-text

  &__info-text {
    max-width: 311px;
    width: 100%;
    font-size: 22px;
    line-height: 34px;
    font-weight: 500;
    color: #ffffff;

    @media (max-width: $breakpoint768) {
      order: 2;
      max-width: 460px;
      text-align: center;
      line-height: 29px;
      font-size: 20px;
    }
  }

  // .nav__info-title

  &__info-title {

    span {
      font-weight: 600;
      text-transform: uppercase;

      @media (max-width: $breakpoint768) {
        display: block;
      }
    }
  }

  // .nav__info-subtitle

  &__info-subtitle {}
}